
.controlRackBack
{
left:0px;
top:0px;
height:60px;
width:100%;
background-color: #f5f5f6;
opacity:.75;
}
.scrubberBar
{
left:0px;
margin-left:0px;
margin-right:7px;
background-color: #ffcc00;
opacity:1;
}
.videoTimer
{
width:100px;
left:0px;
font-size:24px;
color:#898a8d
}
.volumeBar
{
background-color: #ffcc00;
width:50px;
left:100px;
}
.volumeBarBack
{
background-color: #f5f5f6;
opacity:.75;
}
.volumeBarIcon
{
background-color: #ffcc00;
}
.fullScreenBtn
{
width:60px;
left:150px;
}
.playPauseTxtOverlay
{
font-size:75px;
color:#fdfdfd;
}
.titleTxtOnScrubber
{
left:22px;
font-size:12px;
color:#898a8d;
}





.controlRackBack:hover
{
left:44px;
top:111px;
height:80px;
width:555px;
background-color: #00ffff;
border-width:3;
border-color:#999000;
background-image:url:('bolt.jpg');
}
.playPauseBtn
{
left:155px;
top:122px;
height:80px;
width:240px;
float:left;
border-style:solid;
border-width:5px;
border-color:#ff0000;
background-color: #330000;
}
.playPauseBtn:hover
{
left:155px;
top:122px;
height:80px;
width:240px;
float:left;
border-style:solid;
border-width:5px;
border-color:#00ff00;
background-color: #0000ff;
}
.scrubber:hover
{
left:255px;
top:122px;
height:80px;
width:240px;
float:left;
border-style:solid;
border-width:0px;
border-color:#00ff00;
background-color: #dddd22;
}
.scrubberBack
{
height:45px;
width:200px;
border-style:solid;
border-width:3px;
}
.progressBar
{
height:33px;
width:77px;
background-color:#990000;
}